<launch>
	<!-- Publishes odom -->
	<node name="sim_odom_pub" pkg="bill_odom" type="sim_odom_pub.py" output="screen" />

	<node name="broadcast_baselink_to_odom_tf" pkg="bill_odom" type="broadcast_tf.py" output="screen" />

	<!-- Publishes transform between base_link and odom -->
	<!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		  <param name="output_frame" value="odom"/>
		  <param name="base_footprint_frame" value="base_link"/>
		  <param name="freq" value="30.0"/>
		  <param name="sensor_timeout" value="1.0"/>  
		  <param name="odom_used" value="true"/>
		  <param name="imu_used" value="true"/>
		  <param name="vo_used" value="false"/>
	  </node> -->
</launch>