<launch>
<node pkg="rosserial_python" type="serial_node.py" name="actuator_node" output="screen">
<param name="port" value="/dev/actuator2"/>
</node>

<node pkg="rosserial_python" type="serial_node.py" name="ultrasonic_node" output="screen">
<param name="port" value="/dev/ultrasonic"/>
</node>
</launch>
