<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.0" />

    <arg name="cam_image_topic" default="/camera/depth_registered/points" />
	<arg name="cam_info_topic" default="/camera/rgb/camera_info" />	

	<arg name="output_frame" default="/camera_link" />
    <arg name="med_filt_size" default="10" />
	<arg name="bundle_files" default="$(find bill_marker_rec)/markers/MarkerData_15_16_17_18.xml $(find bill_marker_rec)/markers/MarkerData_19_20_21_22.xml  $(find bill_marker_rec)/markers/MarkerData_5_6_7_8.xml $(find bill_marker_rec)/markers/MarkerData_30_31_32_33.xml $(find bill_marker_rec)/markers/MarkerData_34_35_36_37.xml" />


	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)" />

	<remap from="/ar_pose_marker" to="/kitchen_pose/ar_pose_marker"/>
</launch>
